.caracteristica {
  background: transparent;
  border: solid 2px rgb(255, 255, 255);
  border-radius: 16px;
  padding: 1rem 0.5rem;
  max-width: 350px;
  margin: 0 auto 1rem auto;
}

.caracteristica:last-child {
  margin-bottom: 0;
}

.caracteristica h3 {
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
  color: white;
}

.caracteristica p {
  font-size: 1rem;
  margin-bottom: 0;
  color: white;
}
/* MEDIA QUERIES */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .caracteristica {
    max-width: 205px;
    min-height: 175px;
    margin: 0;
  }

  .caracteristica h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 58px;
  }
}

@media (min-width: 992px) {
  .caracteristica {
    padding: 1rem 0.5rem;
    max-width: 230px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .caracteristica h3,
  .caracteristica p {
    max-width: fit-content;
    width: fit-content;
  }
}

@media (min-width: 1200px) {
  .caracteristica {
    max-width: 270px;
    margin-left: 1rem;
  }
}

@media (min-width: 1400px) {
  .caracteristica {
    max-width: 290px;
    margin-left: 3rem;
    min-height: 200px;
  }

  .caracteristica h3 {
    font-size: 1.75rem;
  }

  .caracteristica p {
    font-size: 1.25rem;
  }
}

@media (min-width: 1600px) {
}

@media (min-width: 1800px) {
}
