.iconEspecializacion {
  max-width: 320px;
  margin: 0 auto 40px auto;
}

.iconEspecializacion img {
  max-width: 100px;
  margin: 0 auto 1rem auto;
}

.iconEspecializacion h4 {
  text-transform: uppercase;
  font-weight: 700;
}

.iconEspecializacion p {
  margin-bottom: 0;
}

/* MEDIA QUERIES */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .iconEspecializacion {
    max-width: 100%;
    margin: 0;
  }

  .iconEspecializacion img {
    max-width: 80px;
  }

  .iconEspecializacion h4 {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
  }

  .iconEspecializacion p {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}

@media (min-width: 1600px) {
  .iconEspecializacion img {
    max-width: 150px;
    margin: 0 auto 1.5rem auto;
  }

  .iconEspecializacion h4 {
    font-size: 1.5rem;
  }

  .iconEspecializacion p {
    font-size: 1.25rem;
  }
}

@media (min-width: 1800px) {
}
