.contentOtherLines {
  margin-bottom: 30px;
  display: flex;
  gap: 1rem;
}

/* MEDIA QUERIES */
@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .contentOtherLines {
    margin-bottom: 60px;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}

@media (min-width: 1600px) {
}

@media (min-width: 1800px) {
}
